﻿@page "/"

<RadzenStack Orientation="Orientation.Vertical" Gap="1rem" Style="align-self:center">
    <RadzenStack Orientation="Orientation.Horizontal" Style="width:60%">
        <RadzenLabel Style="width:40%; align-self:center; text-align:end">ИНН:</RadzenLabel>
        <RadzenAutoComplete Style="width: 60%"
                            Change="OnInnChange" />
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Horizontal" Style="width:60%">
        <RadzenLabel Style="width:40%; align-self:center; text-align:end">Район:</RadzenLabel>
        <RadzenDropDown Data="rayons.data"
                        TValue="string"
                        Style="width:60%"
                        TextProperty="displayText"
                        ValueProperty="id"
                        Change="OnDropdownChangeRayon"
                        Disabled="disableDropdown">
        </RadzenDropDown>
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Horizontal" Style="width:60%">
        <RadzenLabel Style="width:40%; align-self:center; text-align:end">Айылный аймак:</RadzenLabel>
        <RadzenDropDown Data="countrySides"
                        TValue="string"
                        Style="width:60%"
                        TextProperty="name"
                        ValueProperty="codeSts"
                        Change="ChangeOnCountrySide"
                        Disabled="disableDropdownCountrySide">
        </RadzenDropDown>
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Horizontal" Style="width:60%">
        <RadzenLabel Style="width:40%; align-self:center; text-align:end">Вид налога:</RadzenLabel>
        <RadzenDropDown Data="taxTypes"
                        TValue="string"
                        Style="width:60%"
                        TextProperty="shortText"
                        ValueProperty="taxCode"
                        Change="ChangeOnTaxType">
        </RadzenDropDown>
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Horizontal" Style="width:60%">
        <RadzenLabel Style="width:40%; align-self:center; text-align:end">Бюджетная классификация:</RadzenLabel>
        <RadzenDropDown Data="budgetClassifications"
                        TValue="string"
                        Style="width:60%"
                        TextProperty="chapterName"
                        ValueProperty="chapterCode"
                        Change="ChangeOnBudgetClassification">
        </RadzenDropDown>
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Horizontal" Style="width:60%">
        <RadzenLabel Style="width:40%; align-self:center; text-align:end">Сумма:</RadzenLabel>
        <RadzenAutoComplete Style="width: 60%"
                            Change="ChangeOnAmount"
                            Value="amount"
                            Disabled="isDisableAmount" />
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Horizontal" Style="width:60%">
        <RadzenLabel Style="width:40%; align-self:center; text-align:end"></RadzenLabel>
        <RadzenButton Style="width: 60%"
                      IsBusy="busy"
                      Click=@(args => ToPay()) Text="Оплатить" ButtonStyle="ButtonStyle.Primary"
                      Disabled="isDisabledButton" />
    </RadzenStack>


</RadzenStack>
<br />
@if (isShow)
{
    <RadzenCard Style="margin:auto; width:50%; margin-top:2rem; background-color:#f5f5f5; border-radius:10px; box-shadow:0 4px 8px rgba(0,0,0,0.2)">
        <RadzenCardHeader>
            <h3 style="text-align:center; color:#4CAF50">Payment Information</h3>
        </RadzenCardHeader>
        <RadzenCardContent>
            <RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem" Style="padding:1rem">
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenLabel Style="width:40%; font-weight:bold">Transaction Status:</RadzenLabel>
                    <RadzenLabel Style="width:60%">@transactionStatus</RadzenLabel>
                </RadzenStack>
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenLabel Style="width:40%; font-weight:bold">Pay Code:</RadzenLabel>
                    <RadzenLabel Style="width:60%">@payCode</RadzenLabel>
                </RadzenStack>
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenLabel Style="width:40%; font-weight:bold">Amount:</RadzenLabel>
                    <RadzenLabel Style="width:60%">@summa</RadzenLabel>
                </RadzenStack>
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenLabel Style="width:40%; font-weight:bold">Underpayment Amount:</RadzenLabel>
                    <RadzenLabel Style="width:60%">@underpaymentAmount</RadzenLabel>
                </RadzenStack>
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenLabel Style="width:40%; font-weight:bold">Last Payment Date:</RadzenLabel>
                    <RadzenLabel Style="width:60%">@lastPaymentDate</RadzenLabel>
                </RadzenStack>
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenLabel Style="width:40%; font-weight:bold">Paid Amount:</RadzenLabel>
                    <RadzenLabel Style="width:60%">@paidAmount</RadzenLabel>
                </RadzenStack>
            </RadzenStack>
        </RadzenCardContent>
    </RadzenCard>
}


@code {
    string inn = "";
    double amount = 0;
    bool isShow = false;
    string transactionStatus;
    string payCode;
    double summa;
    double underpaymentAmount;
    DateTime lastPaymentDate;
    double paidAmount;

    RayonResponse rayons = new RayonResponse();
    List<CountrySide> countrySides = new List<CountrySide>();
    List<TaxType> taxTypes = new List<TaxType>();
    List<BudgetClassification> budgetClassifications = new List<BudgetClassification>();
    TaxPayerDebt taxPayerDebt = new TaxPayerDebt();
    TaxPayment response = new TaxPayment();
    Status status = new Status();

    Rayon selectedRayon = new Rayon();
    CountrySide selectedCountrySide = new CountrySide();
    TaxType selectedTaxType = new TaxType();
    BudgetClassification selectedBudgetClassification = new BudgetClassification();

    bool disableDropdown = true;
    bool isDisableAmount = true;
    bool isDisabledButton = true;
    bool disableDropdownCountrySide = true;
    bool busy;

    protected override async Task OnInitializedAsync()
    {
        taxTypes = await service.GetTaxType();
        budgetClassifications = await service.GetBudgetClassification();
    }

    async Task OnInnChange(object value)
    {
        inn = value?.ToString();
        disableDropdown = string.IsNullOrEmpty(inn);
        if (!disableDropdown)
        {
            rayons = await service.GetRayonsByINN(inn);
            StateHasChanged();
        }
    }

    async Task ChangeOnAmount(object value)
    {
        if (double.TryParse(value?.ToString(), out double result))
        {
            amount = result;
        }
        else
        {
            // Handle conversion error, if needed
        }
    }

    async Task OnDropdownChangeRayon(object value)
    {
        string id = value as string;
        selectedRayon = rayons.data.FirstOrDefault(cs => cs.id == id);
        disableDropdownCountrySide = string.IsNullOrEmpty(selectedRayon.id);
        isDisableAmount = string.IsNullOrEmpty(selectedRayon.id);
        if (!disableDropdownCountrySide)
        {
            countrySides = await service.GetCountrySide(selectedRayon.id);
            StateHasChanged();
        }

        taxPayerDebt = await service.GetTaxPayerDebt();
        amount = taxPayerDebt.totalSum;
        if (amount > 0)
        {
            isDisabledButton = false;
        }
    }

    private async Task ChangeOnCountrySide(object value)
    {
        string selectedCode = value as string;
        selectedCountrySide = countrySides.FirstOrDefault(cs => cs.codeSts == selectedCode);
        StateHasChanged();
    }

    private async Task ChangeOnTaxType(object value)
    {
        string selectedTaxCode = value as string;
        selectedTaxType = taxTypes.FirstOrDefault(cs => cs.taxCode == selectedTaxCode);
        StateHasChanged();
    }

    private async Task ChangeOnBudgetClassification(object value)
    {
        string selectedChapterCode = value as string;
        selectedBudgetClassification = budgetClassifications.FirstOrDefault(cs => cs.chapterCode == selectedChapterCode);
        StateHasChanged();
    }

    private async Task ToPay()
    {
        busy = true;
        await Task.Delay(500);
        busy = false;
        List<TaxPaymentRequest> request = new List<TaxPaymentRequest>()
        {
            new TaxPaymentRequest()
            {
                rayonCode = selectedRayon.id,
                rayonName = selectedRayon.displayText,
                countrySideCode = selectedCountrySide.codeSts,
                countrySideName = selectedCountrySide.name,
                taxCode = selectedTaxType.taxCode,
                taxName = selectedTaxType.text,
                chapterCode = selectedBudgetClassification.chapterCode,
                chapterName = selectedBudgetClassification.chapterName,
                taxAmount = amount
            }
        };

        response = await service.PostTaxPayment(request, inn);
        status = await service.CheckStatus(response.transactionId);
        switch (status.transactionStatus)
        {
            case 0:
                transactionStatus = "Новый";
                break;
            case 1:
                transactionStatus = "Ожидание оплаты";
                break;
            case 2:
                transactionStatus = "Частично оплачено";
                break;
            case 3:
                transactionStatus = "Оплачен";
                break;
            case 4:
                transactionStatus = "Переплачено";
                break;
            case 5:
                transactionStatus = "Просрочено";
                break;
            case 6:
                transactionStatus = "Частичная оплата с задержкой";
                break;
            case 7:
                transactionStatus = "Оплачено с задержкой";
                break;

            case 8:
                transactionStatus = "Переплата с задержкой";
                break;
        }

        payCode = status.payCode;
        summa = status.amount;
        underpaymentAmount = status.underpaymentAmount;
        lastPaymentDate = status.lastPaymentDateTime;
        paidAmount = status.paidAmount;
        isDisabledButton = true;
        isShow = true;
    }
}